<footer class="mdl-mini-footer tac-site-footer">
  <div class="mdl-mini-footer__left-section">
    <span>除特别标注，内容均在 Creative Commons Attribution 2.5 下许可发布。更多详情和限制，请阅读 <a href="https://developer.android.com/license.html"> 内容许可。</a></span>
  </div>
  <script type="text/javascript">
    (function () {
      'use strict';

      anchors.options.placement = 'left';
      anchors.add('.post-content > h1, .post-content > h2, .post-content > h3, .post-content > h4, .post-content > h5, .post-content > h6');
    })();
  </script>
</footer>
